:root {
    --branco: #FFFFFF;
    --preto: #000000;
    --azul-escuro: #0E233E;
    --azul-menos-escuro: #025bcf;
    --azul-claro: #0070FF;
    --laranja: #F78B1F;
    --laranja-escuro: #ec7d0e;
    --vermelho: #f01616;
    --vermelho-escuro: #d61111;
    --verde: #388E3C;
    --verde-escuro: #308134;
    --fonte: 'Quicksand';
}